@charset 'utf-8';

@import url(normalize.css);
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

/*
  VARIABLES
*/
:root{
  --white:#fff;
  --highlight:#A6282A;
  --sub-color:#d0d0d0;
  --font:18px;
  --base:27px;
  --container:1400px;
  --main-tt:54px;
  --sub-tt:44px;
  --content-tt:32px;
}
input, button{
  outline:none;
}
/*
  TYPOGRAPHY
*/
body{
  font:var(--font)/var(--base) 'Noto Sans', sans-serif;
  color:var(--white);
  background: #000;
}
#member h2,#album h2,#goods h2,#schedule h2,#company h2 {
  font-size: var(--main-tt);
  text-shadow: 3px 3px 4px var(--highlight);
}

/*
  LAYOUT
*/
.container {width: var(--container); margin: 0 auto;}
.flex {display: flex;}
.aic {align-items: center;}
.jcc {justify-content: center;}
.jcsb {justify-content: space-between;}
.hidden{
  position: absolute;
  top: 0;
  left:-9999em;
  width: 0;
  height: 0;
  overflow: hidden;
}
#member, #album,#goods,#schedule,#company, footer {padding: calc(var(--base) * 3) 0;}
#member h2,#album h2,#goods h2,#schedule h2,#company h2 {margin-bottom: calc(var(--base) * 3);}



/* 
HEADER : LOGO
*/
.h_wrapper {
  position: sticky;
  height: 100px;
  z-index: 50;
  transition: 0.3s;
}
header.sticky {
  position: fixed; top: 0; left: 0; right: 0;
  z-index: 9999;
  background: linear-gradient(180deg, rgba(23,23,23,1) 38%, rgba(23,23,23,0.9641106442577031) 46%, rgba(23,23,23,0.8352591036414566) 59%, rgba(23,23,23,0.695203081232493) 70%, rgba(23,23,23,0) 100%);
}
/* .logo,
header div> span.menu {
  position: absolute;
  top:50%; transform: translateY(-50%);
} */
.logo{
	width: 160px;
	height: 52px;
  /* left: 0px; */
}
.logo a:before{
	content:'';
	background:url(../images/logo.png) no-repeat;
	width:100%;
	height:100%;
	text-indent:-9999em;
	display:block;
  transition: 0.3s;
}
.logo a:hover::before {
  background:url(../images/logo-hover.png) no-repeat;
}
.logo span{
	position: absolute;
/* 	clip:rect(0 0 0 0); */
	clip-path:polygon(0 0, 0 0, 0 0, 0 0);
	width: 0;
	height: 0;
	overflow:hidden;
  cursor: pointer;
}
header div> span.menu {
  font-size: 50px;
  /* right: 0; */
  transition: 0.3s;
  cursor: pointer;
}
header div> span.menu:hover {color: var(--highlight);}
/* 
HEADER : NAV 
*/
nav {
  background: rgb(0,0,0);
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 100;
  display: none;
  transition: 0.5s;
}
nav ul {
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  text-align: center;
}
nav a {
  position: relative;
  font-size: var(--main-tt);
  font-weight: bold;
  line-height: calc(var(--main-tt) * 1.5);
}
nav a::after {
  content: attr(data-text);
  position: absolute; left: 0; top: 0;
  width: 0%;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s ease-in;
  color: var(--highlight);
}
nav a:hover::after {width: 100%;}
nav h2 {
  position: absolute;
  left: 11%; top: 3%;
}
nav .close{
  position: absolute;
  right: 11%; top: 3%;
  cursor: pointer;
  font-size: var(--main-tt);
  transition: 0.3s;
}
nav .close:hover {
  color: var(--highlight);
}

/* 
ASIDE : SNS 
*/

#sns {
  position: fixed; top: 50%;
  left: -50px;
  z-index: 100;
  transition: 0.5s;
}
#sns> span {order:3;}
#sns> h2 {
  order: 2;
  padding-left: 20px;
  padding-right: 5px;
  writing-mode: vertical-rl;
  cursor: pointer;
}
#sns h2:hover {color: var(--highlight);}
#sns h2:hover+span {color: var(--highlight);}
#sns li:hover {background: var(--highlight);}
#sns> .snslist {order: 1;}
#sns.toggle {left: 25px;}

/* 
MAIN : BANNER
*/

#banner {margin-top: -100px;}
.slide-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 600px;
}
.slide-container {
  position: absolute;
  width: 100%;
  height:100%;
  margin:0;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}
.slide-container>li {
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}
.slide-wrapper .controls {
  position: absolute;
  bottom: 10px;
  z-index: 50;
  object-fit: cover;
  transition: all .3s ease-in;
}
.slide-wrapper .controls img {width: 130px;}
#prev {
  left: 0;
}
#next {
  right: 20px;
}
#prev.disabled,
#next.disabled {
  display: none;
}
.pager {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
.pager a {
  width: 10px;
  height: 10px;
  margin: 0 10px;
  border-radius: 50%;
  background: #ccc;
  text-indent: -9999em;
  cursor: pointer;
  display: inline-block;
}
.pager a.active {
  background: var(--highlight);
}
.slide-container> li> video {
  width: 100%; height: 100%;
  object-fit: cover;
}

/*
  MAIN : MEMBER
*/

/*
  MAIN : ALBUM
*/
.album_box {}
.album_box .list {height: 600px; border:1px solid yellow;}
.album_box .list li {
  
}
.album_item {
  writing-mode: vertical-rl;

}
.album_item h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.album_item figure img {display: none;}

/*
  MAIN : GOODS
*/

#goods {
  position: relative;
}
#goods .goods_slide_wrapper {
  width: 1168px;
  margin: 0 auto;
  overflow: hidden;
}
#goods .goods_slide_wrapper ul {
  gap: 20px;
}
#goods .goods_wrapper ul> li> div {
  width: 276px;
  height: 276px;
  position: relative;
  transition: 0.5s;
}
#goods .goods_slide_wrapper> ul> li> div + div {
  margin-top: 20px;
}
#goods .goods_slide_wrapper> ul> li> div:hover .more_btn{display: block;}
#goods .goods_slide_wrapper> ul> li> div> img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.goods_slide_wrapper .more_btn {
  background: rgba(0,0,0,0.8);
  position: absolute; left: 0; top: 0; right: 0; bottom: 0;
  text-align: center;
  display: none;
}
.goods_slide_wrapper .more_btn h3{padding: 5px;}
.goods_slide_wrapper .more_btn_center {
  width: 100%;
  position: absolute;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
}
.goods_slides.animated{
	transition:left 0.5s;
}
.primary_btn a{
  margin-top: 10px;
  padding: 10px;
  background: var(--white);
  position: relative;
}
.primary_btn a:first-child {border-radius: 10px 0 0 10px;}
.primary_btn a:first-child::after {
  content: '';
  display: block;
  width: 1px; height: 30px;
  background: var(--sub-color);
  position: absolute;right: 0; top: 50%; transform: translateY(-50%);
}
.primary_btn a:last-child {border-radius: 0 10px 10px 0;}
.primary_btn a:last-child::after {
  content: '';
  display: block;
  width: 1px; height: 30px;
  background: var(--sub-color);
  position: absolute;left: 0; top: 50%; transform: translateY(-50%);
}
.primary_btn span {
  font-size: 30px;
  color: var(--highlight);
  vertical-align: bottom;
}
.small_prev_btn, .small_next_btn {
  font-size: 50px;
  padding: 10px;
  position: absolute; top: 50%;
  cursor: pointer;
}
.small_prev_btn:hover, .small_next_btn:hover {color: var(--highlight);}
.small_prev_btn {left: 0;}
.small_next_btn {right: 0;}

/*
  MAIN : SCHEDULE
*/
#calendar {height: 600px;}
.fc .fc-toolbar {display: block;}
.fc-toolbar-chunk{text-align: center;}
.fc .fc-scrollgrid-liquid {margin-top: var(--base);}
.fc .fc-toolbar.fc-header-toolbar {margin: 0;}
.fc .fc-toolbar.fc-header-toolbar .fc-prev-button {
  position: absolute;
  left: -210px; top: -48px;
  background: none;
  border: none;
  cursor: pointer;
}
.fc .fc-toolbar.fc-header-toolbar .fc-next-button {
  position: absolute;
  right: -200px; top: -48px;
  background: none;
  border: none;
  cursor: pointer;
}
.fc .fc-toolbar.fc-header-toolbar .fc-today-button {display: none;}
.fc .fc-button-primary {
  position: absolute;
  background: none;
  border: none;
}
.fc-toolbar-chunk #fc-dom-1 {
  font-size: var(--sub-tt);
  text-shadow: none;
  text-align: center;
  margin: 0;
}
.fc .fc-daygrid-event-harness {
  height: var(--base);
}
.fc-h-event {
  background-color: var(--highlight);
  border: 1px solid var(--highlight);
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transform: translateY();

}
.fc-h-event .fc-event-title {
  overflow:visible;
  text-indent: 20px;
  height: var(--base);
}
dialog{
  position: fixed;
  width: 300px;
  margin: 0;
  z-index: 999;
  padding: 30px;
  background: #fff;
  left: 50%; top: 50%; transform: translate(-50%, -50%);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
}

/* 
MIAN : COMPANY
*/

.company_wrapper {
  gap: 50px;
}
.company_slide_wrapper {
  position: relative;
  width: 500px;
  overflow: hidden;
  height: 500px;
}
.company_slide_wrapper .company_mask {
  position: absolute; left: 0; top: 0;
  z-index: 100;
}
.company_slide_contents {
  position: absolute;
  width: 100%;
  height:100%;
  margin:0;
  padding: 0;
  transition: left .3s ease-in;
  left: 0;
}
.company_slide_contents>li {
  position: absolute;
  left: 0;
  top: 0%;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition:opacity 0.3s;
}
.company_slide_contents>li.cpactive {
  opacity: 1;
  visibility: visible;
}
.company_bg1 {background: url(../images/sorcesmusic-bg1.png);}
.company_bg2 {background: url(../images/sorcesmusic-bg2.png);}
.company_bg3 {background: url(../images/sorcesmusic-bg3.png);}
.company_txt {
  width: 55%;
  text-align: center;
}
.company_txt h3 {
  font-size: var(--sub-tt);
  padding: calc(var(--base) * 1.5) 0;
}
.company_txt> p {
  font-size: 1.5rem;
  line-height: 55px;
}
.company_txt p> em{
  border-bottom: 2px solid var(--highlight);
}
.companr_btns {
  margin: var(--base) 0;
}
.companr_btns a {
  display: inline-block;
  width: 220px;
  height: 50px;
  color: var(--highlight);
  border-radius: 50px;
  line-height: 50px;
  background: var(--white);
}
.companr_btns .a span {
  font-size: 30px;
  vertical-align: bottom;
}
.companr_btns a + a {
  margin: 40px;
}

/* 
  FOOTER
*/

hr {
  margin-top: calc(var(--base) * 3) 0;
  width: 1400px;
  border: none;
  height: 2px;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.19) 6%, rgba(255,255,255,0.69) 20%, rgba(255,255,255,0.89) 30%, rgba(255,255,255,0.9780287114845938) 40%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 53%, rgba(255,255,255,0.98) 60%, rgba(255,255,255,0.89) 70%, rgba(255,255,255,0.69) 80%, rgba(255,255,255,0.19) 96%, rgba(255,255,255,0) 100%);
}
footer {
  background: linear-gradient(180deg, rgba(0,0,0,1) 30%, rgba(166,40,42,1) 100%);
}
address {text-align: center;}
address li {
  font-size: 16px;
  color: var(--sub-color);
}
address li strong {color: var(--white);}
.f_site {
  height:33px; 
	overflow:hidden;
	transition: 0.5s;
}
.f_site > ul > li {border-bottom: 1px solid var(--white);} /*물어보기 famliy site 글씨 밑에 밑줄*/
.f_site span {
  transform: translateY(5px);
}



/* 
  POPUP
*/
/* map */
#map {
  width: 100%;
  height: 500px;
}